body {
  background-color: #96c6c5;
  color: rgb(5, 4, 4);
}

#quote {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#clockContainer {
  position: relative;
  margin: auto;
  top: 10px;
  height: 40vw;
  /*to make the height and width responsive*/
  width: 40vw;
  background: url(clock.png) no-repeat;
  /*setting our background image*/
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 15%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 20%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 16%;
  top: 24%;
  left: 49.25%;
  opacity: 0.8;
}
